1. Print cookies and milk are a great dessert.

In [2]:
print ("Cookies and milk are a great desert.")

Cookies and milk are a great desert.

2. Print out your favorite color and above the code, comment what you are doing.

In [3]:
# i am printing my favorite color 
print("purple")

purple

3. Print out your favority color again and add an in-line comment.

In [4]:
print("purple") #this is my favorite color

purple

4. Print the sumation of numbers 1 to 10

In [1]:
print(1 + 2 + 3 + 4 + 6 + 7 + 8 + 9 + 10)

50

5. Print what 6 to the 7th power is.

In [7]:
print(6 **7)

279936

6. Print the remainder of 100 divided by 11.

In [40]:
print(100 % 7)

2

7. What is the result of "Python" + "1"

In [11]:
print("Python" + "1")

Python1

8. Print out 100 divided by 5

In [12]:
print(100 / 5)

20.0

9. What is the difference between 10/4 and 10//4?  Print out the result

In [13]:
print(10 / 4)

2.5

In [14]:
print(10 // 4)

2

10. Create a variable named foo that stores a string value.

In [ ]:
foo = "123"

11. Print foo variable

In [1]:
foo = "123"
print(foo)

123

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [35]:
height = "67 inches" 
print("You are " + height + " tall.")

You are 67 inches tall.

13. Concate two strings together using variables and print out the result

In [33]:
height = "67 inches"
foot = "9 inches"
print ("Hello, Cassie! You are " + height + " tall and the length of your foot is " + foot + '!')

Hello, Cassie! You are 67 inches tall and the length of your foot is 9 inches!

14. Use the two different quotes in a string and print out the sentence

In [38]:
quote1 = "If at first you don't succeed, "
quote2 =  "try, try again."
print(quote1 + quote2)

If at first you don't succeed, try, try again.

15. Print out Hello World! 7 times each on a new line using only one line of code.

In [42]:
print("Hello, World! " * 7)

Hello, World! Hello, World! Hello, World! Hello, World! Hello, World! Hello, World! Hello, World!

16. What is the result of "apple" > "Apple"

In [43]:
"apple" > "Apple"

True

17. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [50]:
val1 = 25 * 54
val2 = 33 * 33 
print(val1)
print(val2)

1350
1089

18. What is the result of of 123 == “123”?

In [51]:
print(123 == "123")

False

19. Ask a user for width and length of a rectangle. Then compute its area and perimeter.

In [55]:
print("What is the width and length of the rectangle?")

What is the width and length of the rectangle?

20. Ask a user for two whole numbers. Then compute their sum and difference.

In [58]:
prompt1 = 100
prompt2 = 25

print("Enter a number:")

numb1 = input(prompt1)

print("Enter next number:")
numb2 = input(prompt2)

total1 = numb1 * numb2
print(f"{numb1} * {numb2} = {total1}")

total2 = numb1 - numb2
print(f"{numb1} / {numb2} = {total2}")

Enter a number:
100100
Enter next number:
2525

TypeError: can't multiply sequence by non-int of type 'str'